.noStatus, .progress-bar-danger, .progress-bar-warning, .progress-bar-success {
    width:100%;
}

.progress {
    min-width:170px;
}

.progress-bar-striped {
    min-width:45px;
}

.noStatus {
    background:transparent;
}